@font-face {
  font-family: Gilroy-ExtraBold;
  src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: Gilroy-ExtraBoldItalic;
  src: url("./assets/fonts/Gilroy-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Gilroy-RegularItalic;
  src: url("./assets/fonts/Gilroy-RegularItalic.ttf");
}

@font-face {
  font-family: Gilroy-Thin;
  src: url("./assets/fonts/Gilroy-Thin.ttf");
}

@font-face {
  font-family: Gilroy-ThinItalic;
  src: url("./assets/fonts/Gilroy-ThinItalic.ttf");
}

@font-face {
  font-family: 'latin_modern_mono10_regular';
  src: url('./assets/fonts/lmmono10-regular-webfont.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  background-color: #c3528b;
  color: #fff;
}

h1 {
  font-family: Gilroy-ExtraBoldItalic;
  font-size: 3.75rem;
  letter-spacing: 2px;
  margin: 0;
}

h3, h4 {
  color: #04faf1;
  font-family: Gilroy-ExtraBoldItalic;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

p, span, a {
  font-family: Gilroy-Regular;
}

p.services {
  color: #fbf683;
  font-family: latin_modern_mono10_regular;
}

a:active, a:link, a:visited, a:hover {
  color: #fff;
  text-decoration: none;
}

.site-container {
  align-items: center;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.bg-lionel {
  background: url('./assets/images/img-bg-wrapper-lionel.png') right bottom no-repeat;
  background-size: contain;
  bottom: 0;
  height: 100%;
  min-width: 1280px;
  position: absolute;
  right: 0;
  width: 100%;
}

.section-heading {
  line-height: 1.25;
  max-width: 640px;
  padding: 50px;
  position: relative;
  width: 100%;
}

.section-heading > .message {
  line-height: 1.5;
  max-width: 320px;
}

.section-heading > .social-icons {
  left: -18px;
  position: relative;
}

.section-heading > .social-icons img {
  width: 75px;
}

.section-quote {
  align-self: flex-start;
  line-height: 1.25;
  margin-left: auto;
  max-width: 480px;
  position: relative;
  right: 10%;
  top: 12%;
  width: 100%;
}

.section-quote > .img-quote {
  background: url('./assets/images/img-thought-bubble.svg') no-repeat;
  background-size: contain;
  bottom: -220px;
  height: 200%;
  left: -140px;
  position: absolute;
  width: 200%;
}

.section-quote > .quote-content {
  position: relative;
}

.section-quote > .quote-content > .quote-title {
  margin: 0 20px;
}

.section-quote > .quote-content > .services {
  font-size: 1.1rem;
  line-height: 1.5;
}

.section-quote > .quote-content > .invite {
  margin: 0 10px;
  text-align: right;
}

@media (max-width: 1280px) {
  html {
    font-size: 16px;
  }
  .section-heading > .heading {
    max-width: 320px;
  }
  .section-quote > .img-quote {
    height: 210%;
    left: -120px;
    width: 210%;
  }
}
@media (max-width: 1140px) {
  .section-quote {
    top: 20%;
  }
}
@media (max-width: 1030px) {
  .bg-lionel {
    right: -10%;
  }
  .section-quote > .img-quote {
    bottom: -190px;
    height: 200%;
    left: -100px;
    width: 200%;
  }
}
@media (max-width: 994px) {
  .section-quote > .img-quote {
    left: -110px;
  }
}
@media (max-width: 924px) {
  html {
    font-size: 14px;
  }
  .site-container {
    align-items: flex-start;
    flex-direction: column;
    overflow-y: visible;
  }
  .bg-lionel {
    background-size: cover;
    bottom: auto;
    height: 640px;
    left: 60%;
    margin-top: -120px;
    min-height: 640px;
    min-width: 924px;
    order: 3;
    position: relative;
    right: auto;
    transform: translateX(-50%);
    width: 100%;
  }
  .section-heading {
    max-width: 640px;
    margin: 0 auto;
    order: 1;
    text-align: center;
  }
  .section-heading > .heading {
    margin: 0 auto;
    max-width: 400px;
  }
  .section-heading > .message {
    margin-left: auto;
    margin-right: auto;
  }
  .section-heading > .social-icons {
    left: auto;
  }
  .section-quote {
    align-self: flex-end;
    margin-left: 0;
    order: 2;
    top: 20px;
  }
  .section-quote > .img-quote {
    background: url('./assets/images/img-thought-bubble-hor-1.svg') left bottom no-repeat;
    background-size: contain;
    bottom: -20px;
    height: 100%;
    left: 100px;
    min-width: 560px;
    transform: scale(1.55);
    width: 100%;
  }
  .section-quote > .quote-content > .invite {
    margin: 0 20px;
  }
}
@media (max-width: 640px) {
  .bg-lionel {
    left: 70%;
    margin-top: -60px;
  }
  .section-quote {
    margin: 0;
    padding: 0 20px;
    right: 20px;
  }
  .section-quote > .img-quote {
    background: url('./assets/images/img-thought-bubble-hor-2.svg') left bottom no-repeat;
    background-size: contain;
    transform: scale(1.5);
    left: 100px;
  }
}
@media (max-width: 480px) {
  .bg-lionel {
    left: 80%;
  }
  .section-quote {
    top: 20px;
    right: auto;
  }
  .section-quote > .img-quote {
    left: 90px;
  }
}
@media (max-width: 404px) {
  .section-quote > .img-quote {
    left: 40px;
    transform: scale(1.35)
  }
}
